/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 70%;
    margin: auto;

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    color: #e53170;
    text-align: center;
    margin-top: 20px;
}

.columns{ 
    padding: 20px 0;
}

.col{
    background-color: #0f0e17;
    color: white;
    float: left;
    width: 30%;
    margin: 20px 10px;
    
    
}
img{
    float: left;
    width: 80px;
    margin-right: 10px;
    
    
}
/* SECTIONS */

.sub-title{
    text-align: center;
    margin: 20px 0;
}

.email{
    color: aqua;
}

.content{
    padding-top: 5px; 
}
